body{
    margin: 0;
    font-family:'Arial';
}

header{
    position: fixed;
    background-color: red;
    text-align: center;
    width: 100%;
    max-height: 100px;
    border: 3px solid black;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

main{
    padding-top:100px;
    background-color: gray;
}

nav{
    border:2px solid black;
    max-width: 300px;
    margin-top: 20px;
    margin-left: 15px;
    border-color:black;
    border-radius: 15px;
    padding-left:20px;
    background-color: white;
}

p {
    color: black;
}

footer{
    background-color: darkslategrey;
    border: 2px solid black;
    text-align: center;
    padding: 20px;
    color: white;

    div{
        margin-left: 500px;
        display: flex;
        gap: 30px;
        max-width: 200px;
        .imagen_pie{
            flex: 1;
        }
    }
}

section{
    border: 2px solid black;
    border-radius: 15px;
    padding-left:50px;
    margin: 10px;
    margin-left: 15px;
    max-width: 75%;
    margin-bottom: 15px;
    background-color: white;
    scroll-margin-top: 110px;
}

.sidebar{
    position:fixed;
    right: 0;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: darkslategrey;
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

    a{
        color: white;
    }
}

#pokeimagen {
    display: flex;
    align-items: center;
    gap: 20px;
}

#pokeball {
    border-radius: 50%;
    transition: 6s;
}

#pokeball:hover {
    content: url("Imagenes/🔴Poke\ ball.gif");
    transform: translate(1000px, 1000px);
}

#bulbasaur:hover {
    content: url("Imagenes/bulbasaur.gif");
}

#charmander:hover {
    content: url("Imagenes/charmander.gif");
}

#squirtle {
    transition: 2.5s;
}

#squirtle:hover {
    content:url("Imagenes/squirtle-sax-squirtle.gif");
    border-radius: 50%;
    border: 3px solid black;
    transform: translateX(150px) rotate(360deg);
}

#combate {
    transition: 1s;
}

#combate:hover {
    content:url("Imagenes/battle.gif");
    border-radius: 10%;
    transform: translateX(30px);
}

#pokeball2{
    transition:0.5s;
}
#pokeball2:hover{
    content: url("Imagenes/pokeball2.gif")
}

#pokeevolution{
    transition:0.5s;
}
#pokeevolution:hover{
    content:url("Imagenes/poke_evolution.gif")
}

#easter_egg{
    transition: 0.5s;
}
#easter_egg:hover{
    content: url("Imagenes/easteregg2.png")
}
